@media (min-width: 1020px) {

  /* App Navbar */
  .app-navbar {
    flex-direction: row;
    height: 8rem;

    .menu {
      width: auto;

      .menu-planets a {
        margin-right: 5rem;

        p {
          font-size: 1.6rem;
        }
      }
    }
  }
}