$primary-white: #FFFFFF;
$primary-black: #070724;
$grey-dark: #38384F;
$grey-soft: #838391;
$primary-turquoise: #419EBB;
$primary-yellow: #EDA249;
$primary-purple: #6F2ED6;
$primary-red: #D83A34;
$primary-orange: #D14C32;
$secondary-orange: #CD5120;
$primary-green: #1EC2A4;
$primary-blue: #2D68F0;

$title-font: 'Antonio', sans-serif;
$content-font: 'League Spartan', sans-serif;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: $content-font;
}

main {
  width: 100vw;
  height: 100vh;
  padding: 2.4rem;
  color: $primary-white;
  background-color: $primary-black;
  background-image: url('/assets/background-stars.svg');
}

/* Burger Menu */

.burger-icon {
  position: fixed;
  z-index: 99;
  cursor: pointer;
}

.menu {
  position: fixed;
  display: none; /* Oculto momentaneamente */
  flex-direction: column;
  z-index: 100;
  transform: translateY(-100%);
  transition: transform 0.2s ease;
}

.menu:target {
  transform: translateY(0);
}

/* Planet Navbar */

.planet-navbar {
  width: 100%;
  height: 3.6rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid $grey-soft;
  border-bottom: 0.5px solid $grey-soft;

  a {
    display: flex;
    height: 100%;
    align-items: center;
    font-family: $content-font;
    font-size: 0.9rem;
    letter-spacing: 2px;
    color: $grey-soft;
    text-decoration: none;
  }

  .active {
    font-weight: bold;
    color: $primary-white;
    border-bottom: 4px solid $primary-blue;
  }
}

/* Planet Display */

.planet-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 50rem;

  figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;

      img {
        max-width: 80%;
        width: auto;
        height: auto;
        object-fit: contain;
      }
  }

  h2 {
    font-family: $title-font;
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 1.6rem;
  }

  p {
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 2.2rem;
    margin-bottom: 1.6rem;
  }

  .source-container {
    font-size: 1.4rem;
    color: $primary-white;

    span {
      font-weight: 300;
      margin-right: 0.4rem;
    }

    a {
      font-weight: bold;
      color: $primary-white;
      margin-right: 0.4rem;
    }
  }

}