$primary-white: #FFFFFF;
$primary-black: #070724;
$grey-dark: #38384F;
$grey-soft: #838391;
$primary-turquoise: #419EBB;
$primary-yellow: #EDA249;
$primary-purple: #6F2ED6;
$primary-red: #D83A34;
$primary-orange: #D14C32;
$secondary-orange: #CD5120;
$primary-green: #1EC2A4;
$primary-blue: #2D68F0;

$title-font: 'Antonio', sans-serif;
$content-font: 'League Spartan', sans-serif;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: $content-font;
}

main {
  width: 100vw;
  height: 100vh;
  padding: 1.6rem;
  color: $primary-white;
  background-color: $primary-black;
  background-image: url('/assets/background-stars.svg');
}

/* Burger Menu */

.burger-icon {
  position: fixed;
  z-index: 99;
  cursor: pointer;
}

.menu {
  position: fixed;
  display: none; /* Oculto momentaneamente */
  flex-direction: column;
  z-index: 100;
  transform: translateY(-100%);
  transition: transform 0.2s ease;
}

.menu:target {
  transform: translateY(0);
}

/* Planet Navbar */

.planet-navbar {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid $grey-soft;
  border-bottom: 0.5px solid $grey-soft;

  a {
    font-family: $content-font;
    font-size: 0.8rem;
    letter-spacing: 2px;
    color: $grey-soft;
    text-decoration: none;
  }
}