$primary-white: #FFFFFF;
$primary-black: #070724;
$grey-dark: #38384F;
$grey-soft: #838391;

$title-font: 'Antonio', sans-serif;
$content-font: 'League Spartan', sans-serif;

:root {
  --mercury: #419EBB;
  --venus: #EDA249;
  --earth: #6F2ED6;
  --mars: #D14C32;
  --jupiter: #D83A34;
  --saturn: #CD5120;
  --uranus: #1EC2A4;
  --neptune: #2D68F0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: $content-font;
}

main {
  width: 100vw;
  height: 100%;
  padding: 2.4rem;
  color: $primary-white;
  background-color: $primary-black;
  background-image: url('/assets/background-stars.svg');
}

/* Home Page */

.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;

  h2 {
      font-family: $title-font;
      font-size: 3.2rem;
      font-weight: 600;
      margin-bottom: 2.4rem;
    }

    p {
      font-size: 1.4rem;
      font-weight: 300;
      line-height: 2.2rem;
      margin-bottom: 3.2rem;
      }
}

/* App Navbar */

.app-navbar {
  position: relative;
  display: flex;
  width: 100%;
  height: 4.2rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.6rem;

  .title {
    font-family: $title-font;
    font-size: 2.8rem;
    color: $primary-white;
    text-decoration: none;
  }

  .menu .menu-planets {
    position: absolute;
    left: 0;
    right: 0;
    display: none;
    flex-direction: column;
    margin-top: 2.8rem;
    background-color: $primary-black;

    a {
      display: flex;
      align-items: center;
      height: 7rem;
      text-decoration: none;
      border-bottom: 0.5px solid $grey-soft;

      span {
        width: 2rem;
        height: 2rem;
        margin-right: 2.4rem;
        border-radius: 50%;
      }

      p {
        font-size: 1.5rem;
        font-weight: bold;
        color: $primary-white;
      }

      img {
        margin-left: auto;
      }
    }
  }
}

/* Planet color */

.mercury-span {
  background-color: var(--mercury);
}

.venus-span {
  background-color: var(--venus);
}

.earth-span {
  background-color: var(--earth);
}

.mars-span {
  background-color: var(--mars);
}

.jupiter-span {
  background-color: var(--jupiter);
}

.saturn-span {
  background-color: var(--saturn);
}

.uranus-span {
  background-color: var(--uranus);
}

.neptune-span {
  background-color: var(--neptune);
}


/* Burger Menu */

.burger-icon {
  display: flex;
  width: 2.4rem;
  height: 1.7rem;
  cursor: pointer;

  input {
    width: 100%;
    height: 100%;
    background-image: url('/assets/icon-hamburger.svg');
    appearance: none;
    pointer-events: none;
    transition: opacity 200ms ease-in-out;
  }

  input:checked {
    opacity: 0.5;
  }
}

.burger-icon:has(input:checked) + .menu-planets {
  display: flex;
}

/* Planet Navbar */

.planet-navbar {
  width: 100%;
  height: 3.6rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 0.5px solid $grey-soft;
  border-bottom: 0.5px solid $grey-soft;

  a {
    display: flex;
    height: 100%;
    align-items: center;
    font-family: $content-font;
    font-size: 0.9rem;
    letter-spacing: 2px;
    color: $grey-soft;
    text-decoration: none;
  }

  .active {
    font-weight: bold;
    color: $primary-white;
  }
}

/* Planet Display */

.planet-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: auto;
  margin-top: 2.4rem;

  figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35rem;

      img {
        object-fit: contain;
      }
  }

  h2 {
    font-family: $title-font;
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 1.6rem;
  }

  p {
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 2.2rem;
    margin-bottom: 3.2rem;
  }

  .source-container {
    font-size: 1.4rem;
    color: $primary-white;

    span {
      font-weight: 300;
      margin-right: 0.4rem;
    }

    a {
      font-weight: bold;
      color: $primary-white;
      margin-right: 0.4rem;
    }
  }

}

/* Planet image size */

.mercury {
  width: 11.1rem;
}

.venus {
  width: 15.4rem;
}

.earth {
  width: 17.3rem;
}

.mars {
  width: 12.9rem;
}

.jupiter {
  width: 22.4rem;
}

.saturn {
  width: 25.6rem;
}

.uranus {
  width: 17.6rem;
}

.neptune {
  width: 17.3rem;
}

/* Planet Details */

.planet-details {

  padding: 2.4rem 0;

  .details-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4.8rem;
    padding: 0 2.4rem;
    margin-bottom: 0.8rem;
    border: 1px solid $grey-soft;

    .details-title {
      font-size: 1rem;
      color: $grey-soft;
    }

    .details-data {
      font-family: $title-font;
      font-size: 2rem;
    }
  }
}